In [13]:

import pandas as pd
from sklearn.cluster import DBSCAN
import numpy as np
import matplotlib.pyplot as plt

In [14]:

# Load the dataset
file_path = "./data/Milestones_survival_Final.csv"
df = pd.read_csv(file_path)

# Selecting relevant columns
columns_of_interest = ["YOE", "Contrib"]
df_filtered = df[columns_of_interest]

In [15]:

# Applying DBSCAN
dbscan = DBSCAN(eps=1.5, min_samples=2)  # Adjusting parameters if necessary
labels = dbscan.fit_predict(df_filled)

# Identifying outliers (DBSCAN labels outliers as -1)
df_filled["Outlier"] = labels
outliers = df_filled[df_filled["Outlier"] == -1]

# Displaying outliers
outliers

    YOE  Contrib  Outlier
3     9        9       -1
15   14        0       -1
20   11        0       -1
22    3        4       -1
23   27        1       -1
24   16        0       -1